html {
  box-sizing: border-box;
  height: 100%;
}

body {
  height: 100%;
}

main {
  height: 100%;
  display: grid;
  align-content: center;
  justify-items: center;
  row-gap: 15px;
}

.message {
  text-align: center;
}
