html {
  box-sizing: border-box;
  height: 100%;
}

body {
  height: 100%;
}

main {
  height: 100%;
  display: grid;
  align-content: center;
  justify-items: center;
  row-gap: 10px;
  text-transform: uppercase;
}

button {
  border: black 2px solid;
  background: none;
  padding: 10px 45px;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 1.2em;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: black;
}

button:hover {
  background-color: black;
  color: white;
  transition: all 0.2s ease-in-out 0s;
}

.message {
  text-align: center;
  font-family: "Barlow", sans-serif;
  letter-spacing: 0.2rem;
  margin: 5px 0;
  animation: fadeIn 5s;
}

.title {
  font-size: 48px;
  text-align: center;
  letter-spacing: 0.2rem;
  font-family: "Roboto Condensed", sans-serif;
  margin: 0;
  animation: fadeIn 4s;
}

.insta-link {
  background-image: url(IMAGES/instagram.svg);
  background-repeat: no-repeat;
  display: block;
  padding-left: 22px;
  font-size: 20.8px;
  font-family: "Roboto Condensed", sans-serif;
  margin-top: 10px;
  animation: fadeIn 6.5s;
}

.hash {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 20.8px;
  animation: fadeIn 7s;
}

.contact-button {
  animation: fadeIn 6s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
